/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 500px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3em;
}

body {
    font-weight: 100;
    font-family: 'Fauna One', serif;
    margin: 0;
    padding: 0;
    font-size: 26px;
}

.background-image-wrapper .heading {
    position: absolute;
    bottom: 2%;
    left: 0;
    color: #fff;
    width: 100%;
    max-width: 100%;
    text-align: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.background-image-wrapper {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.background-image-wrapper img {
    width: 100%;
    max-width: none;
}

.scrollable-wrapper {
    overflow-x: scroll;
    overflow-y:hidden;
}

.really-wide-element {
    width: 200%;
}

.really-wide-element img {
    width: 400px;
    position: relative;
    left: 25%;
    margin-left: -200px;
}

.heading h1:after {
    content: '';
    position: absolute;
    left:50%;
    margin-left: -10px;
    bottom:20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}


#singing-fire  {
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
    left:50%;
    position: relative;
    width: 50%;
    margin-left: -25%;
    opacity: 1;
}

.fire-container {
    overflow: hidden;
}

.fire-container:hover #singing-fire {
    left:150%;
    opacity: 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}